<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sono:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="src/css/style.css">
    <title>Weather App</title>
</head>
<body>  
    <div id="demo"></div>
    <div class="container-fluid d-flex justify-content-center align-items-center py-5" style="height: 100vh">
        <div id="main-card" class="row" ng-app="weatherApp">
            <!-- Left side panel -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 side-bar py-md-0 py-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col d-flex align-items-stretch flex-column justify-content-between">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Top Search bar on left side -->
                                    <div class="search-card d-flex py-md-5 py-4 align-items-center" ng-controller="searchCtrl">
                                        <!-- Search Icon -->
                                        <i class="bi bi-buildings d-flex justify-content-start px-2"></i>
                                        <input ng-model="searchField" class="search-bar-css form-control-sm d-flex justify-content-center" type="text" placeholder="Search for places.."> 
                                        <i ng-click="searchCity()" class="bi bi-search geo-button rounded-circle d-flex justify-content-center align-items-center" style="height:30px;width:30px"></i>   
                                        <i onclick="getLocation()" class="bi bi-geo-alt geo-button rounded-circle d-flex justify-content-center align-items-center" style="height:30px;width:30px"></i>   
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <!-- Weather Icon Image which is to be updated on change of the weather condition -->
                                    <div class="d-flex justify-content-center py-md-0 py-4">
                                        <image id="weatherImage" src="#"></image>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Temperature in either °C or °F -->
                                <div class="col-12 temperature-box d-flex justify-content-md-start justify-content-center">
                                    <span id="currentTemp" class="text-wrap lh-1" style="font-size:4rem;">?</span>
                                    <span>°C</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 d-flex justify-content-md-start justify-content-center" ng-controller="datCtrl">
                                    <!-- Current day -->
                                    <p>{{ day }}</p>
                                    <!-- Current Time -->
                                    <p class="text-muted">{{ time }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Just a Divider line -->
                                <div class="col-12 d-flex justify-content-md-start justify-content-center">
                                    <hr style="width:100%;text-align:left;margin-left:0">
                                </div>
                            </div>
                            <div class="row">
                                <!-- Weather Description with an icon -->
                                <div class="col-12 d-flex justify-content-md-start justify-content-center">
                                    <div class="d-flex py-md-1 py-4">
                                        <i class="bi bi-cloud px-2"></i>
                                        <label id="weatherDescription">?</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Presipitation of Rain in percentage with an icon -->
                                <div class="col-12 d-flex justify-content-md-start justify-content-center">
                                    <div class="d-flex justify-content-center py-md-1 py-4">
                                        <i class="bi bi-rainbow px-2" style="color:blue"></i>
                                        <label id="preciptation">? - ?%</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <!-- The picture of the city along with the City and Country Name -->
                                    <div class="container-fluid d-flex m-0 p-4 align-items-center justify-content-center">
                                        <img src="https://picsum.photos/250/100?random=1" style="border-radius:20px">
                                        <h4 id="city-country" style="position:absolute; color:white;">?, ?</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 main-screen">
                <div class="container py-md-5 py-4">
                    <div class="row">
                        <div class="col d-flex justify-content-start">
                            <div class="row" style="color:darkgray">
                                <div class="col h4 Underline-hover">Today</div>
                                <div class="col h4 active Underline-hover">Week</div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <div class="row">
                                <div class="col rounded-circle align-items-center d-flex justify-content-center " style="width: 40px;height:40px;background-color:black; color:white; border-radius: 100%;"><span>°C</span></div>
                                <!-- <div class="col rounded-circle d-flex align-items-center">°F</div> -->
                                <!-- <div class="col">Picture</div> -->
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 py-5" style="overflow:scroll">
                        <div class="col m-1" style="background-color:white; border-radius:20px">
                            <div class="row py-2">
                                <div class="day col d-flex justify-content-center">?</div>
                            </div>
                            <div class="row py-2">
                                <div class="d-flex justify-content-center py-md-0 py-4">
                                    <image class="main-weather-image" src="#" style="max-width:60px"></image>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="d-flex">
                                    <p class="max-forcast col d-flex justify-content-center">?°</p>
                                    <p class="min-forcast col d-flex justify-content-center text-muted">?°</p>
                                </div>
                            </div>
                        </div>
                        <div class="col m-1" style="background-color:white; border-radius:20px">
                            <div class="row py-2">
                                <div class="day col d-flex justify-content-center">?</div>
                            </div>
                            <div class="row py-2">
                                <div class="d-flex justify-content-center py-md-0 py-4">
                                    <image class="main-weather-image" src="#" style="max-width:60px"></image>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="d-flex">
                                    <p class="max-forcast col d-flex justify-content-center">?°</p>
                                    <p class="min-forcast col d-flex justify-content-center text-muted">?°</p>
                                </div>
                            </div>
                        </div>
                        <div class="col m-1" style="background-color:white; border-radius:20px">
                            <div class="row py-2">
                                <div class="day col d-flex justify-content-center">?</div>
                            </div>
                            <div class="row py-2">
                                <div class="d-flex justify-content-center py-md-0 py-4">
                                    <image class="main-weather-image" src="#" style="max-width:60px"></image>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="d-flex">
                                    <p class="max-forcast col d-flex justify-content-center">?°</p>
                                    <p class="min-forcast col d-flex justify-content-center text-muted">?°</p>
                                </div>
                            </div>
                        </div>
                        <div class="col m-1" style="background-color:white; border-radius:20px">
                            <div class="row py-2">
                                <div class="day col d-flex justify-content-center">?</div>
                            </div>
                            <div class="row py-2">
                                <div class="d-flex justify-content-center py-md-0 py-4">
                                    <image class="main-weather-image" src="#" style="max-width:60px"></image>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="d-flex">
                                    <p class="max-forcast col d-flex justify-content-center">?°</p>
                                    <p class="min-forcast col d-flex justify-content-center text-muted">?°</p>
                                </div>
                            </div>
                        </div>
                        <div class="col m-1" style="background-color:white; border-radius:20px">
                            <div class="row py-2">
                                <div class="day col d-flex justify-content-center">?</div>
                            </div>
                            <div class="row py-2">
                                <div class="d-flex justify-content-center py-md-0 py-4">
                                    <image class="main-weather-image" src="#" style="max-width:60px"></image>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="d-flex">
                                    <p class="max-forcast col d-flex justify-content-center">?°</p>
                                    <p class="min-forcast col d-flex justify-content-center text-muted">?°</p>
                                </div>
                            </div>
                        </div>
                        <div class="col m-1" style="background-color:white; border-radius:20px">
                            <div class="row py-2">
                                <div class="day col d-flex justify-content-center">?</div>
                            </div>
                            <div class="row py-2">
                                <div class="d-flex justify-content-center py-md-0 py-4">
                                    <image class="main-weather-image" src="#" style="max-width:60px"></image>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="d-flex">
                                    <p class="max-forcast col d-flex justify-content-center">?°</p>
                                    <p class="min-forcast col d-flex justify-content-center text-muted">?°</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row h4 py-4">Today's Highlights</div>
                    <div class="row py-3">
                        <div class="col m-1" style="max-width:250px; max-height:250px; background-color:white; border-radius:20px">
                            <div class="row py-2">
                                <div class="col text-muted" style="padding:10px 0px 0px 30px">UV Index</div>
                            </div>
                            <div class="row py-2">
                                <div class="d-flex justify-content-center py-md-0 py-4">
                                    <div id="myRange"></div>
                                </div>
                            </div>
                            <div class="row d-flex py-2">
                                <p class="col d-flex justify-content-center">
                                    <!-- Add value change over here -->
                                </p>
                                
                            </div>
                        </div>
                        <div class="col m-1" style="max-width:250px; max-height:250px; background-color:white; border-radius:20px">
                            <div class="row py-2">
                                <div class="col text-muted" style="padding:10px 0px 0px 30px">Wind Status</div>
                            </div>
                            <div class="row" style="height:120px">
                                <div class="container-fluid d-flex align-items-center">
                                    <div class="col d-flex align-items-baseline justify-content-start px-3 py-md-0 py-4">
                                        <div id="windSpeed" class="h1">?</div>
                                        <div class="h4">km/h</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <i class="bi bi-graph-up-arrow px-3"></i>
                                    <label id="windDirection">?</label>
                                </div>
                            </div>
                        </div>
                        <div class="col m-1" style="max-width:250px; max-height:250px; background-color:white; border-radius:20px">
                            <div class="row py-2">
                                <div class="col text-muted" style="padding:10px 0px 0px 30px">Feels Like</div>
                            </div>
                            <div class="row" style="height:120px">
                                <div class="container-fluid d-flex align-items-center">
                                    <div class="col d-flex justify-content-start px-3 py-md-0 py-4">
                                        <div id="currentFeelsLike" class="h1">?</div>
                                        <div class="h4">°C</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <i class="bi bi-sun px-3"></i>
                                    <label id="feelDescription">?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m-1" style="max-width:250px; max-height:250px; background-color:white; border-radius:20px">
                            <div class="row py-2">
                                <div class="col text-muted" style="padding:10px 0px 0px 30px">Humidity</div>
                            </div>
                            <div class="row" style="height:120px">
                                <div class="container-fluid d-flex align-items-center">
                                    <div class="col d-flex justify-content-start px-3 py-md-0 py-4">
                                        <div id="currentHumidity" class="h1">?</div>
                                        <div class="h4">%</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label id="humidityDescription" class="px-3">?</label>
                                    <i class="bi bi-droplet"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col m-1" style="max-width:250px; max-height:250px; background-color:white; border-radius:20px">
                            <div class="row py-2">
                                <div class="col text-muted" style="padding:10px 0px 0px 30px">Visibility</div>
                            </div>
                            <div class="row" style="height:120px">
                                <div class="container-fluid d-flex align-items-center">
                                    <div class="col d-flex align-items-baseline justify-content-start px-3 py-md-0 py-4">
                                        <div id="currentVisibility" class="h1">?</div>
                                        <div class="h4">km</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label id="visibilityDescription" class="px-3">?</label>
                                    <i class="bi bi-eye"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col m-1" style="max-width:250px; max-height:250px; background-color:white; border-radius:20px">
                            <div class="row py-2">
                                <div class="col text-muted" style="padding:10px 0px 0px 30px">Air Quality</div>
                            </div>
                            <div class="row" style="height:120px">
                                <div class="container-fluid d-flex align-items-center">
                                    <div class="col d-flex align-items-baseline justify-content-start px-3 py-md-0 py-4">
                                        <div id="airQuality" class="h1">?</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label id="airQualityDescription" class="px-3">?</label>
                                    <i class="bi bi-soundwave"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="src/scripts/script.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/roundSlider/1.3.2/roundslider.min.js" integrity="sha512-8GGAq5KYuHWyCNC5v3Ohfh3nmfVejHvZR7xM75AKq5QU7jFSOO/aCcZEKC+2Re4uGe7KL+h24KeZ8CEdd4FRog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/roundSlider/1.3.2/roundslider.css" integrity="sha512-WsA2qA1a+CIEz4KTrgjOlF1Gtn4M+m3pgyUCbgGrrV1GKqqM1EOmJSCSA0FXWsIgdv2SKE9ATGvqqEgN42ZjVg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</body>
</html>